<p class="work">friend works!</p>

  <h2>Friends</h2>
<body>
  <h4>My Friends</h4>
  <table>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Nickname</th>
      <th>Githubpages</th>
    </tr>
    <tr>
      <td>Kongphop</td>
      <td>Inyeo</td>
      <td>Ja</td>
      <td>
          <a href="https://github.com/camt-mmit/2023_01-954447-001-lab-02-dom-and-javascript-JajaNaKrub">Week2</a>
          <a href="https://github.com/camt-mmit/2023-01-954447-001-lab-03-introduction-to-typescript-JajaNaKrub">Week3</a>
          <a href="https://github.com/camt-mmit/2023-01-954447-001-lab-04-introduction-to-angular-JajaNaKrub">Week4</a>
      </td>
    </tr>
    <tr>
      <td>
        Taratip
      </td>
      <td>
        Cheawsinrapatham
      </td>
      <td>
        Tongtong
      </td>
      <td>
        <a href="https://camt-mmit.github.io/2023_01-954447-001-lab-02-dom-and-javascript-RiamTonG/">Week2</a>
        <a href="https://camt-mmit.github.io/2023-01-954447-001-lab-03-introduction-to-typescript-RiamTonG/">Week3</a>
        <a href="https://camt-mmit.github.io/2023-01-954447-001-lab-04-introduction-to-angular-RiamTonG/">Week4</a>

      </td>
    </tr>
  </table>
</body>
