body {
  text-align: center;
  margin: auto;
}

.work,
h4 {
  text-align: center;
}

h2,
h3 {
  margin-left: 30px;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 50%;
  margin-left: 27%;
}

a {
  color: blue;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 4px;
  padding: 2px 2px 2px 2px;
  margin: 3PX 3px 3px 3px;
}
a.st-active {
  background-color: aquamarine;
}
