<p>status works!</p>
<h2>
    Status
</h2>

<table>
  <tr>
    <td>
      current time
    </td>
    <td>
      ::
    </td>
    <td>
      {{ currentTime }}
    </td>
  </tr>
  <tr>
    <td>
      useragent
    </td>

    <td>
      ::
    </td>
    <td>
      {{ userAgent }}
    </td>
  </tr>
  <tr>
    <td>
      languages
    </td>
    <td>
      ::
    </td>
    <td>
      {{ languages }}
    </td>
  </tr>
  <tr>
    <td>cookies</td>
    <td>::</td>
    <td>{{ cookies }}</td>
  </tr>
    <tr>
    <td>logical</td>
    <td>::</td>
    <td>{{ logical }}</td>
  </tr>

</table>





