Go to component
<header>
<h1>{{title}}</h1>
  <nav>
    <a  class="nav-list" routerLink="./hello-world" routerLinkactive="st-active"><span class="material-symbols-outlined">
      language
      </span>Hello-world</a>&nbsp;

    <a class="nav-list" routerLink="./profile" routerLinkActive="st-active"><span class="material-symbols-outlined">
      person
      </span>Profile</a>&nbsp;

    <a class="nav-list" routerLink="./friend" routerLinkActive="st-active"><span class="material-symbols-outlined">
      group
      </span>Friends</a>&nbsp;

    <a class="nav-list" routerLink="./status" routerLinkActive="st-active"><span class="material-symbols-outlined">
      checklist
      </span>Status</a>
  </nav>
</header>
<router-outlet></router-outlet>
