<p>profile works!</p>

<h2>My Profile</h2>
<h3>Basic Infomation</h3>

<li>Name: Peemapot Chompoo</li>
<li>Gender:  Male</li>
<li>Age: 20</li>


<h3>Autobiography</h3>
<p>
I was born on 24 april 2003 in Chiang Rai, Thailand. At now i study at ChaingMai University. In my family have father, mother, grandfather and i have 1 sister.Now She is 15 years old, she study at damrong school at ChiangRai, Thailand.
</p>
<h3>Github Pages</h3>
<a href="https://github.com/camt-mmit/2023_01-954447-001-lab-01-basic-javascript-FRpeemapot">Week1</a>
<a href="https://github.com/camt-mmit/2023_01-954447-001-lab-02-dom-and-javascript-FRpeemapot">Week2</a>
<a href="https://github.com/camt-mmit/2023-01-954447-001-lab-03-introduction-to-typescript-FRpeemapot">Week3</a>



